@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.mobile__menu {
  background: rgba(19, 14, 37, 0.99);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.text-gradient {
  background: linear-gradient(90deg,
  #866ee7,
  #ea60da,
  #ed8f57,
  #fbd41d,
  #2cca91);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
display: block;
}

.gradient-text-0 {
  background: -webkit-linear-gradient(#bfa3da, #84309c, #c735b0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-1 {
  background: -webkit-linear-gradient(#a79af9, #7aa8d2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-2 {
  background: -webkit-linear-gradient(#bfa3da, #743f93);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-3 {
  background: -webkit-linear-gradient(#c35ab1, #e9a8d9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glass {
  background: rgba(19, 14, 37, 0.33);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.4px);
  -webkit-backdrop-filter: blur(9.4px);
}

.menu li {
  list-style: none;
  color: #e1e1e1;
  font-family: inherit;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.menu li a:focus,
.menu li a:hover {
  color: rgb(176, 92, 255);
}

.menu li:focus:after,
.menu li:hover:after {
  width: 100%;
  left: 0%;
}

.menu li:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: rgb(176, 92, 255);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}


.admin_card {
  background: rgba(25, 15, 59, 0.192);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  backdrop-filter: blur(14.9px);
  -webkit-backdrop-filter: blur(14.9px);
  border: 1px solid rgba(19, 14, 37, 1);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.new__gradient {
  background: #e499ff;
  filter: blur(750px);
}




.glow {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  background-color: var(--btn-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
}

.btn__glow {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

.btn__glow::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.btn__glow:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
}

.btn__glow:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 .5em .25em var(--glow-color);
}


/* Tools Section */

.language {
  background: rgba(255, 255, 255, 0.07);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}




/* Projects Section */
.project {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='100%' height='100%' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1024%26quot%3b)' fill='none'%3e%3cpath d='M1153 413L1152 261' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1025%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1374 312L1373 548' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1025%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M963 85L962 -270' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1025%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M892 66L891 -124' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1025%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1172 356L1171 -53' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1026%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M181 411L180 242' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1025%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M646 328L645 746' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1025%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M986 65L985 -310' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1025%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1419 518L1418 697' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1025%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1404 285L1403 -105' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1025%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1146 259L1145 70' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1026%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1223 273L1222 -87' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1026%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M792 15L791 418' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1025%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M198 217L197 361' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1025%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M213 213L212 -204' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1026%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M54 164L53 348' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1026%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1202 321L1201 147' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1026%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M263 394L262 556' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1026%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1067 246L1066 73' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1026%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1042 547L1041 278' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1026%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M785 553L784 387' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1025%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M277 146L276 391' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1026%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M878 282L877 104' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1026%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1088 35L1087 -127' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1026%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1426 311L1425 157' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1026%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M910 267L909 684' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1025%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M203 541L202 686' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1025%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M494 547L493 251' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1025%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M163 500L162 349' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1025%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M132 216L131 -80' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1025%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1325 376L1324 109' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1026%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1188 15L1187 262' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1026%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M613 326L612 -69' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1026%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M507 227L506 568' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1025%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M712 164L711 534' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1026%26quot%3b)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1116 289L1115 518' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1025%26quot%3b)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1024'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1025'%3e%3cstop stop-color='rgba(176%2c 92%2c 255%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(176%2c 92%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1026'%3e%3cstop stop-color='rgba(176%2c 92%2c 255%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(176%2c 92%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.card {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  height: 100%;
  box-sizing: border-box;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card img {
  transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.card:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card__content {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 9px;
  box-sizing: border-box;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  background: rgba(19, 14, 37, 0.79);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.4px);
  -webkit-backdrop-filter: blur(10.4px);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

/* Contact Section */

.langs {
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.7px);
  -webkit-backdrop-filter: blur(16.7px);
  border: 1px solid rgba(255, 255, 255, 0.46);
}

.loader {
  position: relative;
  display: flex;
  gap: 0.3em;
}

.loader::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2em;
  filter: blur(45px);
  background-color: #e299ff;
  background-image: radial-gradient(at 52% 57%, hsla(11,83%,72%,1) 0px, transparent 50%),
  radial-gradient(at 37% 57%, hsla(175,78%,66%,1) 0px, transparent 50%);
}

.loader__circle {
  --size__loader: 0.6em;
  width: var(--size__loader);
  height: var(--size__loader);
  border-radius: 50%;
  animation: loader__circle__jumping 2s infinite;
  background-color: #b499ff;
}

.loader__circle:nth-child(2n) {
  animation-delay: 300ms;
  background-color: #e499ff;
}

.loader__circle:nth-child(3n) {
  animation-delay: 600ms;
}

@keyframes loader__circle__jumping {
  0%, 100% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-15px) scale(0.5);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(5px) scale(0.9);
  }
}